* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&display=swap");

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #daa520;
}
input {
  width: 300px;
  font-size: 1.5rem;
  border: 1px solid;
  border-radius: 10px;
  outline: none;
}
.link__wrapper {
  display: flex;
  justify-content: space-around;
}
.logo__header {
  font-family: "Dancing Script";
  margin-left: 20px;
  font-size: 2.4rem;
  padding-left: 10px;
  text-align: center;
  text-transform: uppercase;
}
.text {
  font-size: 2rem;
  font-family: sans-serif;
  margin-left: 20px;
  font-weight: 600;
}
.list {
  width: 400px;
  margin: 10px;
  padding: 1px 10px;
  border: 1px solid;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.list:hover {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
}
.link {
  text-decoration: none;
  color: black;
}
.home {
  height: 576px;
  background-image: url("./components/eye.jpg");
  background-size: cover;
}
.messageStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.student__name {
  font-size: 2.5rem;
}
span {
  font-size: 3rem;
  color: white;
  font-weight: 700;
}
.table__container {
  width: 500px;
  height: 400px;
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 2rem;
  color: black;
  border: 3px;
}
th {
  height: 45px;
  background-color: #4caf50;
  color: white;
}
td {
  padding-left: 20px;
}
th,
td {
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: white;
}
/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */
.graph {
  margin-right: 80px;
  padding-top: 20px;
  width: 500px;
  height: 400px;
  background: white;
  border: 1px solid;
}
.search {
  margin-left: 50px;
}
.Error__msg {
  font-size: 1.2rem;
  margin: 50px;
  text-align: center;
}
